body {
  background-color: #CAD9EA;
  color: #000000;
  font: 400 20px/1.5 "Cormorant", sans-serif;
  margin: 20px 100px 20px 100px;
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
h1 {
  color: #1A1129;
}
h2 {
  color: #5D379E;
}
h3 {
  color: #C59432;
}
h4 {
  color: #5D379E;
}
a {
  text-decoration: none;
  color: #5D379E;
  font-weight: bold;
}
.darkblue {
  color: #1A1129;
}
.purple {
  color: #5D379E;
}
.yellow {
  color: #C59432;
}
.site-header {
  padding: 10px;
  background-color: #3D6593;
}
.site-nav {
  background-color: #3D6593;
  color: #5D379E;
  width: inherit;
}
.avatar {
  width: 250px;
}
.site-footer {
  background-color: #1A1129;
  color: #3D6593;
  padding: 5px 10px 5px 10px;
  text-align:center;
  font-size: 16px;
}
#container {
  background-color: #CAD9EA;
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
#containerrow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #CAD9EA;
  flex-direction: row;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
width:600px;
}
.container-small {

}
.container-medium {

}
.container-large {

}
.container-left {
  width: 300px;
}
.container-body {
  width: inherit;
}
.container-footer {

}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 08.33%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}

.content {
  margin: 0px 0px 0px 50px;
  background-color: #CAD9EA;
}
.navbar {
  color: #5D379E;
}
.navbar-img {
  width: 25px;
}
.searchbox {
  display: block;
  color: lighten($text-color, 25%);
  position:relative;
  box-sizing: content-box;
  float:none;
 }

.contact {
  background-color: #3D6593;
}
.goal-page {

}
.goal-site {

}
.goal-sites {

}
.thumbnail_h {
  border: 1px solid #C59432;
  border-radius: 4px;  /* Rounded border */
  padding: 5px;
  width: 500px;
  vertical-align: text-top;
}
.thumbnail_v {
  border: 1px solid #C59432;
  border-radius: 4px;  /* Rounded border */
  padding: 5px;
  height: 500px;
  vertical-align: text-top;
}
