<nav class="site-nav" role="navigation">
    <ul class="navbar">
        <li><a href="{{ site.baseurl }}/about.html" title="about">About Danielle</li>
        <li><a href="{{ site.baseurl }}/goals/" title="MSLIS">Library E-portfolio</a></li>
        <li><a href="{{ site.baseurl }}/DanielleOakesRESUME2018.pdf" target="_blank" title="cv">Resume</a></li>
        <li><a href="{{ site.baseurl }}/projects/" title="projects">Projects</a></li>
        <li><a href="https://www.etsy.com/shop/PeasantQueenProducts" title="etsy shop" target="_blank">Shop</a></li>
    </ul>
    <div class="searchbox" role="search" aria-label="search">
      <script>
        (function() {
          var cx = '000971889644533718958:yjzhgf6hpeu';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchbox></gcse:searchbox>
    </div>
</nav>
