<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Danielle Oakes">
    <meta name="description" content="{{ page.description }}">
    <!--css-->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/2018style.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
</head>
<body>
<div class="container" id="container">
  <div id="containerrow">
  <div class="container-left">
  <!--header-->
  {% include header.html %}
  </div>
  <div class="container-body">
  <!--search results-->
  <gcse:searchresults></gcse:searchresults>
  <!--content-->
  <main class="content" role="main">
  {{ content }}
  </main>
  </div>
  </div>
<div class="container-footer">
  <!--footer-->
  {% include footer.html %}
</div>
</div>
</body>
</html>
